<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mission To Mars</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

  <style>  
    img{ 
    width: 100%; 
    height: auto; 
    }
  </style>
</head>

<body>
  <div class="container">
    <div class="jumbotron text-center">
      <h1>Mission to Mars</h1>
      <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape New Data</a></p>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class='news'>
          <h1>Latest Mars News</h1>
          <h3>{{mars.news}}</h3>
          <h4>{{mars.paragraph}}</h4>
        </div> 
      </div>
    </div>

    <div class="row">
      <div class="col-md-8">
        <div class= "featuredImg">
          <h1 class=section-headers>Featured Mars Image</h1>
          <img src= "{{mars.featured_image_url}}", alt="featured_img"></img>
        </div>
      </div>

      <div class="col-md-4">
        <div class = "weather">
          <h3 class=section-headers>Current Weather on Mars</h3>
          <hr>
          <p>{{mars.mars_weather}}</p>
        <div>
        <br>
        </div>
          <h3>Mars Facts</h3>
          <div>
            {{mars.fact_table | safe}}
          </div>
        </div>
      </div>
    </div>
      
    <br>

    <div class="row">
      <div class="col-md-12 col-lg-12">
        <h1 class="mars_hems">Mars Hemispheres</h1>
      </div> 
    </div>

    <br>

    <div class="row">
      <div class="col-sm-12 col-lg-6">
        <img src= "{{mars.href1}}", alt="hem1_img"></img>
        <h2>{{mars.title1}}</h2>
      </div>
      <div class="col-sm-12 col-lg-6">
        <img src= "{{mars.href2}}", alt="hem2_img"></img>
        <h2>{{mars.title2}}</h2>
      </div>
    </div>

    <br>

    <div class="row">
      <div class="col-sm-12 col-lg-6">
        <img src= "{{mars.href3}}", alt="hem3_img"></img>
        <h2>{{mars.title3}}</h2>
      </div>
      <div class="col-sm-12 col-lg-6">
        <img src= "{{mars.href4}}", alt="hem4_img"></img>
        <h2>{{mars.title4}}</h2>
      </div>
    </div>
  </div>
      
</body>
</html>