<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mission To Mars</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>

  <div class='title'>
    <h1>Mission to Mars</h1>
    <!-- button to scrape latest data -->
  </div>

  <div class='news'>
    <h1>Latest Mars News</h1>
    <h3>{{ dict.news_title }}</h3>
    <p>{{ dict.news_p }}</p>
    <!-- paragraph variable -->
  </div>

  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-lg-8">
        <div class= "featuredImg">
          <h1 class=section-headers>Featured Mars Image</h1>
          <hr class= sum-hr>
        </div>
      </div>

      <div class="col-sm-12 col-lg-4">
        <div class = "weather">
          <h3 class=section-headers>Current Weather on Mars</h3>
          <hr class="vis-hr">
          <p>{{ dict.mars_weather }}</p>
        </div>
        <div class="facts">
          <!-- Table variable -->
        </div>
      </div>
    </div>
  </div>
  

  <h1>Mars Hemispheres</h1>
  <hr>
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-lg-6">
        <div class= "featuredImg">
          <!-- Insert Featured Hemisphere Image and Title -->
        </div>
      </div>

      <div class="col-sm-12 col-lg-6">
        <div class = "weather">
          <!-- Insert Featured Hemisphere Image and Title -->
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-lg-6">
        <div>
          <!-- Insert Featured Hemisphere Image and Title -->
        </div>
      </div>

      <div class="col-sm-12 col-lg-6">
        <div>
          <!-- Insert Featured Hemisphere Image and Title -->
        </div>
      </div>
    </div>
  </div>
  
</body>